[Unit]
Description=VintageRadio - DLNA Music Player
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/Programmes/VintageRadio
ExecStart=/usr/bin/python3 /home/pi/Programmes/VintageRadio/VintageRadio.py
Restart=no
RestartSec=10
StandardOutput=journal
StandardError=journal

# Pour le développement seulement (décommenter si besoin)
# StandardInput=tty
# StandardOutput=tty
# StandardError=tty
# TTYPath=/dev/tty1

[Install]
WantedBy=multi-user.target