[Unit]
Description=VintageRadio - DLNA Music Player
After=network.target sound.target pulseaudio.target
Wants=network-online.target pulseaudio.service

[Service]
Type=simple
User=pi
Group=pulse-access
# IMPORTANT : Definition de HOME pour que ALSA trouve sa config.
Environment=HOME=/home/pi
Environment=PULSE_SERVER=unix:/tmp/pulse-socket

WorkingDirectory=/home/pi/Programmes/VintageRadio
ExecStart=/usr/bin/python3 /home/pi/Programmes/VintageRadio/VintageRadio.py
Restart=no
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
